* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #e2e2e2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper {
  width: 50vw;
  display: flex;
  margin-top: 30px;
}

.inputLabel {
  width: 50%;
  text-align: right;
  margin-right: 20px;
}

.submitButton {
  width: 20vw;
  padding: 10px 60px;
  margin-top: 50px;
}

.error {
  color: red;
  width: 100%;
  margin-left: 25%;
}